.header {
  padding: 2.8rem;
}

.header__container {
  background: url(../images/png/a-woman.png);
  background-repeat: no-repeat;
  background-position: right -280% top 150%;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn {
  background-color: $secondary-text-color;
  margin-right: 11rem;

  &:hover {
    background-color: #666ca3;
  }
}

.hero {
  padding-top: 11rem;
  padding-bottom: 25rem;
}

.hero__info {
  max-width: 50rem;
}

.hero__title {
  padding-bottom: 3rem;
}

.hero__description {
  padding-bottom: 4rem;
}

.hero__btn {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 32px;

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #ff6f48 0%, #ec1da0 100%);
  }
}
